.btn-option{
  height: 80px;
  font-size: 1.08rem;
}

ion-row{
  margin: 7px;
}

.selection-menu{
  margin-top: 10px;
}

.backIcon{
  margin: 10px;
  font-size: 30px;
  color: #13ACA7;
}

.cipaLogo{
  height: 50px;
}

.categories{
  margin-top: 50px;
}