<ion-content>
  <ion-grid class="selection-menu">
      <ion-row>
        <ion-col>
          <ion-icon name="arrow-round-back" [routerLink]="'/home'" [routerDirection]="'back'"  class="backIcon"></ion-icon>
        </ion-col>
        <ion-col>
            <ion-img class="cipaLogo" src="../../assets/imgs/cipalogo.PNG"></ion-img>
        </ion-col>
        <ion-col>

        </ion-col>        
      </ion-row>
    <ion-row justify-content-center class="categories">
      <ion-button class="btn-option" (click)="listDiagnostics('fortalecimento')" expand="full">Fortalecimento</ion-button>
    </ion-row>
    <ion-row justify-content-center>
      <ion-button class="btn-option" (click)="listDiagnostics('desgastes')" expand="full">Desgastes</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
