<ion-content>
    <ion-grid class="useGrid">
      <ion-row>
         <ion-icon name="arrow-round-back" [routerLink]="'/home'" [routerDirection]="'back'"  class="backIcon"></ion-icon>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="title"> Como usar </p>
        </ion-col>        
      </ion-row>
      <ion-row class="useBlock">
        <ion-col>
            <p>Este aplicativo tem o intuito de facilitar o uso dos diagnósticos e intervenções de enfermagem
                para o enfrentamento da violência doméstica contra criança.</p>
            <p> 
              Na suspeita ou confirmação de violência contra criança, você poderá registrar 
              seus atendimentos selecionando ou apenas consultando diagnósticos, resultados e 
              intervenções de enfermagem do Subconjunto terminológico da CIPE para o  enfrentamento
              da violência doméstica contra criança.
            </p>

        </ion-col>
          
      </ion-row>
      <ion-row class="lineLogo">
          <ion-img src="assets/imgs/cipe_violencia_logo.jpg" class="bottomLogo"></ion-img>
        </ion-row>      
    </ion-grid>
  </ion-content>
  