
.backIcon{
    margin: 10px;
    font-size: 30px;
    color: #13ACA7;
}

.refGrid{
    padding: 0px;
    text-align: center;
}

.title{    
    color: #13ACA7;
    text-transform: uppercase;  
    font-weight: 500;
}

.titles{
    font-size: 18px;
    font-weight: 500;
}

.refBlock{
    background: #20A8A4;
    color: white;
    padding: 28px; 
    margin: 0px;
    min-height: 400px;
}

/* about logo */
.lineLogo{
    display: flex;
    justify-content: center;
}

.bottomLogo{
    margin-top: 20px;
    width: 30px;
}