
<ion-content>
    <ion-grid class="supGrid">
      <ion-row>
         <ion-icon name="arrow-round-back" [routerLink]="'/home'" [routerDirection]="'back'"  class="backIcon"></ion-icon>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="title"> Criação e Apoio </p>
        </ion-col>        
      </ion-row>
      <ion-row class="supBlock">
        <ion-col>
          <div class="titles">
            Criação
          </div>
          <p> Mylene Gomes da Silva e Drª Karen Namie Sakata So -<br> Departamento de Enfermagem em Saúde Coletiva/EEUSP   </p>
          <p class="titles"> Orientadora do projeto </p> 
          <p>  Profª Drª Emiko Yoshikawa Egry -<br> Departamento de Enfermagem em Saúde Coletiva/EEUSP </p>
          <p class="titles"> Assessoria </p> 
          <p> Profª Drª Marcia Regina Cubas -<br> Escola Politécnica da Pontifícia Universidade Católica do Paraná </p>
          <p class="titles"> Desenvolvimento </p> 
          <p>LTIA (Laboratório de Tecnologia de Informação Aplicada) UNESP Bauru</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="title "> Apoio </p>
          <ion-row>
            <ion-col text-center>
              <ion-img class="apoioImgs" src="assets/imgs/enfermagem.jpg"></ion-img>
            </ion-col>
            <ion-col text-center> 
              <ion-img class="apoioImgs" src="assets/imgs/cnpq.jpg"></ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>    
    </ion-grid>
  </ion-content>
  