
<ion-content>
    <ion-grid class="supGrid">
      <ion-row>
         <ion-icon name="arrow-round-back" [routerLink]="'/home'" [routerDirection]="'back'"  class="backIcon"></ion-icon>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="title"> Criação e Apoio </p>
        </ion-col>        
      </ion-row>
      <ion-row class="supBlock">
        <ion-col>
          <p class="titles"> Coordenação do projeto </p> 
          <p> Emiko Yashikawa Egry - Departamento de Enfermagem de Saúde Coletiva </p>
          <p class="titles"> Equipe de pesquisadores </p> 
          <p> Mylene Gomes da Silva, Karen Namie Sakata So</p>
          <p class="titles"> Desenvolvimento </p> 
          <p>LTIA (Laboratório de Tecnologia de Informação Aplicada) UNESP Bauru</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="title "> Apoio </p>
          <ion-row>
            <ion-col text-center>
              <ion-img class="apoioImgs" src="./../../assets/imgs/enfermagem.jpg"></ion-img>
            </ion-col>
            <ion-col text-center> 
              <ion-img class="apoioImgs" src="./../../assets/imgs/cnpq.jpg"></ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>    
    </ion-grid>
  </ion-content>
  