.supGrid{
    padding: 0px;
    text-align: center;
}

.title{    
    color:  #1C5577;
    text-transform: uppercase;  
    font-weight: 500;
}

.titles{
    font-size: 18px;
    font-weight: 500;
}

.supBlock{
    background: #0459A8;
    color: white;
    padding: 28px; 
    margin: 0px;
}

/* about logo */
.lineLogo{
    display: flex;
    justify-content: center;
}

.bottomLogo{
    margin-top: 20px;
    width: 30px;
}
.apoioImgs{
    height: 80px !important;
}