.profilePic{
    height: 150px;
}

.grid{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.newCaseHeader{
    background: #0459A8;
    height: 60px;
    color: white !important;
    
    ion-icon{
        color: white;
    }
}