.profilePic{
    height: 150px;
}

.grid{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.title{
    color: white;
}

.newCaseHeader{
    background: #20A8A4;
    height: 60px;
}

.backIcon{
    right: 10px;
    color: white; 
    font-size: 40px;
}