<ion-content>
    <div class="topo">
      <ion-row class="textTop">
        <ion-col>
          <ion-icon name="arrow-round-back" [routerLink]="'/login'" [routerDirection]="'back'"  class="backIcon"></ion-icon>
        </ion-col>
        <ion-col text-center class="text">
            <ion-icon name="person" class="icon"></ion-icon>
            Recuperação de senha 
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
    </div> 
    <ion-row class="loginEmail">
        <ion-col>
          <div class="email">
              <ion-icon name="person" class="loginIcons"></ion-icon>
              <ion-input placeholder="Digite seu e-mail" [(ngModel)]='email' > </ion-input>
          </div>
        </ion-col>
      </ion-row>
    <ion-row justify-content-center>
      <ion-button expand="full" class="loginButton" (click)="SendEmail();"> ENVIAR </ion-button>
    </ion-row>
</ion-content>
