ion-content{
    --background: #fff url('./../../../assets/imgs/loginBackground.png') no-repeat center center / cover;
}

.backIcon{
    color: white;
}

.icon{
    font-size: 60px;
    color: white;
}

.text{
    color: white; 
    text-transform: uppercase;
    font-weight: 400;
}

.topo{
    height: 150px;
    background: rgba(4,89,168, 0.5);
}

.textTop{
    opacity: 1 !important;
    font-size: 20px;
}

.formEmailRec{
    input{
        margin-top: 40px;
        border-radius: 20px;
        border: 1px solid rgb(4,89,168);
        height: 40px;
        width: 80%;
        text-align: right;
        padding-right: 30px;
    }

    input:focus{
        padding: 10px;
        text-align: left;
    }

    a{
        color: white;
    }
}