ion-content{
    --background: #fff url('./../../../assets/imgs/loginBackground.png') no-repeat center center / cover;
}

.backIcon{
    color: white;
}

.icon{
    font-size: 4.5rem;
    color: white;
}

.text{
    color: white; 
    // text-transform: uppercase;
    font-weight: 400;
}

.topo{
    height: 150px;
}

.textTop{
    opacity: 1 !important;
    font-size: 1.2rem;
}

.formEmailRec{
    input{
        margin-top: 40px;
        border-radius: 20px;
        height: 40px;
        width: 80%;
        text-align: right;
        padding-right: 30px;
    }

    input:focus{
        padding: 10px;
        text-align: left;
    }

    a{
        color: white;
    }
}

ion-input{
    color: white; 
}

.loginButton{
    margin-top: 25px;
    align-self: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    --background: #8BCBFC;
    --box-shadow: 5px 6px 20px #00000f;
}

.loginEmail{
    margin-top: 50px;
}

.loginIcons{
    font-size: 25px; 
    bottom: 2px;
    margin: 10px; 
    color: white; 
}

.email, .password{
    display: flex;
    border-bottom: 1px solid white;
}