<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Novo Atendimento</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-grid class="formNewCase">
    <ion-input placeholder="Identificação" [(ngModel)]="id" ></ion-input>
    <ion-datetime 
      displayFormat="DD MM YYYY" 
      value="2000-01-01"
      monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, okt, nov, des"
      placeholder="Data de Nascimento" [(ngModel)]="date"></ion-datetime>
    <ion-select placeholder="Sexo" [(ngModel)]="gender">
      <ion-select-option value="Feminino"> Feminino </ion-select-option>
      <ion-select-option value="Masculino"> Masculino </ion-select-option>
    </ion-select>
    <ion-textarea placeholder="Anotações" [(ngModel)]="notes"></ion-textarea>
    <ion-button expand="full" (click)="createNewCase()" style="width:100%"> Criar Atendimento </ion-button>
  </ion-grid>
</ion-content>
