<ion-header>
  <ion-toolbar>
    <ion-title>Selecionar local</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="terms" placeholder="Procurar"></ion-searchbar>
  <ion-list class="little-select-page">
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Selecione {{ category }}:</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let location of locations | searchLocations : terms">
        <ion-label>{{location.nome}}</ion-label>
        <ion-radio slot="start" value="{{ location.nome }}" (ionSelect)="checkItem(location)"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-row justify-content-center>
    <ion-button expand="full" (click)="closeModal()">Selecionar</ion-button>
  </ion-row>
</ion-content>
