<ion-content class="fundo">
    <ion-grid>
      <ion-row class="Welcome">
        <ion-col text-center> 
          <h4> Bem vindo </h4>
        </ion-col>
      </ion-row>
      <ion-row class="loginEmail">
        <ion-col>
          <div class="email">
              <ion-icon name="person" class="loginIcons"></ion-icon>
              <ion-input placeholder="Digite seu e-mail" [(ngModel)]='email' > </ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="loginPassword">
        <ion-col>
          <div class="password">
              <ion-icon name="lock" class="loginIcons"></ion-icon>
              <ion-input placeholder="Digite sua senha" type="password" [(ngModel)]='password'> </ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="buttonLine">
           <ion-button expand="full" class="loginButton" (click)="LogIn();"> Entrar </ion-button>
           <p text-muted> <a [routerLink]="['/forgot-password']"> Esqueceu sua senha? </a> </p>
      </ion-row>
      <ion-row class="createAccount">
         <p class='createAccountLink' [routerLink]="'/create-account'" [routerDirection]="'forward'"> Criar uma nova conta </p>
      </ion-row>
    </ion-grid>

</ion-content>
