// Global Css here

.custom-toolbar > ion-row {

  display: flex;
  flex-direction: column;
  align-items: center;

  ion-icon{
    font-size: 4.5rem;
    color: #f9eeee;
  }

  ion-label{
    color: #f9eeee;
  }
  // position: absolute;
  // text-align: center;
  // color: var(--secondary-color);
  //
  // & > ion-title{
  //   font-weight: 600;
  //   font-size: 1.3rem;
  //   text-transform: uppercase;
  // }
}

.custom-toolbar{
  display: flex;
  --background: url('./assets/imgs/back.jpeg');
  min-height: 150px;
}

ion-menu-toggle > ion-item{

  margin: 7px;

  & > ion-label{
    color: #0459A8 !important;
    text-transform: uppercase;
    font-size: 1.1rem !important;
  }

  & > ion-icon{
    color: #0459A8 !important;
    font-size: 2rem;
  }

}

ion-button{
  // --background: var(--primary-color);
  --background: #1C5577;
  width: 90%;
}

ion-toolbar{
  --background: #1C5577;
  --color: white;
  text-align: center;

  & > ion-title{
    font-size: 1rem;
    font-weight: 600;
  }
}

ion-back-button{
  --color: white;
}

.extra-header{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > ion-label{
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

.backIcon{
  margin: 10px;
  font-size: 2.2rem;
  color: #1C5577;
}

p{
  line-height: 1.5;
}

div.alert-radio-label{
  white-space: inherit !important;
  text-transform: capitalize !important;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.case-box-right{
  width: 7rem;
  height: 3.2rem;
  position: absolute;
  right: 1rem;
  border: 1px solid #1c5577;
  top: 1rem;
  display: flex;
  align-items: flex-end;  
  justify-content: center;
  padding: 0.4rem;

  span{
    color: #756f6f;
  }
}

.case-box-left{
  width: 7rem;
  height: 3.2rem;
  position: absolute;
  right: 1rem;
  border: 1px solid #1c5577;
  top: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0.4rem;

  span{
    color: #756f6f;
  }
}

.case-title{
  position: absolute;
  top: 0.2rem;
  left: 0.3rem;
  font-size: 0.8rem;
}

.half-width{
  width: 60% !important;
}

.input-fake{
  border: 1px solid #0459a8;
  color: #0459A8;
  padding: 15px;
  width: 100%;
  height: 60px;
  margin: 10px;
}

.texto-mais-claro{
  color:#99bbdc
}
