<ion-app>
  <ion-split-pane >
    <ion-menu class="custom-menu">
      <ion-header>
        <ion-toolbar class="custom-toolbar">
          <ion-row>
            <!-- Devemos adicionar uma foto de perfil?? -->
            <ion-icon name="contact"></ion-icon>
            <ion-label> {{ currentUser?.displayName }} </ion-label>
            <ion-label> {{ currentUser?.email }} </ion-label>
          </ion-row>
          <!-- <ion-title>Menu</ion-title> -->
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'forward'" [routerLink]="[p.url]" lines="none">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" (click)="SignOut();">
            <ion-item lines="none">
              <ion-icon slot="start" [name]="'exit'"> </ion-icon>
              <ion-label>
                Sair
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
