<ion-header>
  <ion-toolbar>
    <ion-grid *ngIf="renderContent.category == 'diagnostics'" class="extra-header">
      <ion-label>Grupo</ion-label>
      <ion-label>{{ subtitle }}</ion-label>
    </ion-grid>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>{{ select_label }}</ion-label>
      <ion-select okText="Ok" cancelText="Cancelar" [(ngModel)]="selected_option">
        <ion-select-option *ngFor="let value of this.select_values; let i = index" value="{{ value }}">{{ select_options[i] }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
   <ion-searchbar [(ngModel)]="terms" placeholder="Procurar"></ion-searchbar>
   <ion-grid>
     <ion-row *ngFor="let item of renderContent.data | search : terms">
        <mat-expansion-panel *ngIf="selected_option == item.type">
           <mat-expansion-panel-header collapsedHeight="80px" expandedHeight="30px">
              <mat-panel-title>
                 <div style="" class="truncate">
                   {{ item.text }}
                 </div>
              </mat-panel-title>
           </mat-expansion-panel-header>
           {{ item.text }}
        </mat-expansion-panel>
     </ion-row>
   </ion-grid>
</ion-content>
