// ion-card{
//   width: 100%;
//   min-height: 90px;
//   padding: 20px;
// }

mat-expansion-panel{
  width: 100%;
  margin-top: 20px;
  background-color: #41DB79;
}

ion-row {
  display: flex;
  justify-content: center;
}

mat-panel-description {
  display: block !important;
}


.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-expansion-panel-header-title {
  min-width: 0;
}

.mat-expanded mat-panel-title {
  display: none;
}

ion-select{
  text-transform: capitalize;
}

.title-less{
  font-weight: 500;
}

.header-panel-favorite, .mat-panel-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-panel-body{
  justify-content: end !important;
}

.favorite-button{
  font-size: 3rem;
  margin-right: 7px;
}


