<ion-header>
  <ion-toolbar>
    <ion-grid class="extra-header">
      <!-- <ion-label>Grupo</ion-label> -->
      <ion-label>{{ dictionary.group[renderContent.group] }}</ion-label>
    </ion-grid>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title-less">{{ dictionary.category[renderContent.category] }}</ion-title>
    <ion-title>{{ dictionary.type[renderContent.type] }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-select okText="Ok" cancelText="Cancelar" [(ngModel)]="renderContent.type">
        <ion-select-option *ngFor="let value of this.select_type_values; let i = index" value="{{ value }}">{{ value }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
   <ion-searchbar [(ngModel)]="terms" placeholder="Procurar"></ion-searchbar>
   <ion-grid>
     <ion-row *ngFor="let item of renderContent.data | search : terms">
        <mat-expansion-panel *ngIf="renderContent.type == item.type">
           <mat-expansion-panel-header collapsedHeight="80px" expandedHeight="30px">
              <mat-panel-title>
                 <div style="" class="truncate">
                   {{ item.text }}
                 </div>
              </mat-panel-title>
           </mat-expansion-panel-header>
           {{ item.text }}
        </mat-expansion-panel>
     </ion-row>
   </ion-grid>
</ion-content>
