<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-icon name="arrow-round-back" [routerLink]="'/login'" [routerDirection]="'back'"  class="backIcon"></ion-icon>
    </ion-row>
    <ion-row class="title">
        <p> Criar uma conta </p>
    </ion-row>
    <ion-row>
      <ion-input placeholder="Nome" [ngClass]="{ 'alert': tried && name == '' }" [(ngModel)]="name" class="Input"></ion-input> 
    </ion-row>
    <ion-row> 
      <ion-select class="Input" placeholder="Sexo" [ngClass]="{ 'alert': tried && sex == '' }" [(ngModel)]="sex">
        <ion-select-option value="f"> Feminino </ion-select-option>
        <ion-select-option value="m"> Masculino </ion-select-option>
      </ion-select>
    </ion-row>
    <ion-row> 
      <ion-datetime class="Input"
      displayFormat="DD MM YYYY" 
      monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, okt, nov, des"
      placeholder="Data de Nascimento" [ngClass]="{ 'alert': tried && dob == undefined }" [(ngModel)]="dob"></ion-datetime>
    </ion-row>
    <ion-row>
      <ion-select class="Input" placeholder="Estado" [ngClass]="{ 'alert': tried && selectedState == null }" [(ngModel)]="selectedState">
        <ion-select-option *ngFor="let state of listaDeEstados" [value]="state"> {{state.sigla}} </ion-select-option>
      </ion-select>
    </ion-row>
    <ion-row *ngIf="selectedState">
      <ion-select class="Input" placeholder="Cidade" [ngClass]="{ 'alert': tried && selectedCity == null}" [(ngModel)]="selectedCity">
        <ng-container *ngFor="let city of listaDeCidades[selectedState.id]">
          <ion-select-option [value]="city"> {{city.nome}} </ion-select-option>
        </ng-container>
      </ion-select>
    </ion-row>
    <ion-row>
      <ion-select class="Input" placeholder="Formação" [ngClass]="{ 'alert': tried && formation == '' }" [(ngModel)]="formation">
          <ion-select-option value="enfermeira"> Enfermeira(o)  </ion-select-option>
          <ion-select-option value="estudante"> Estudante de enfermagem </ion-select-option>
          <ion-select-option value="outro"> Outro... </ion-select-option>
      </ion-select>
    </ion-row>
    <ion-row *ngIf="formation === 'outro'"> 
      <ion-input class="Input" placeholder="Digite sua formação..." [(ngModel)]="otherFormation"> </ion-input> 
    </ion-row>
    <ion-row>
        <ion-select class="Input" placeholder="Área de Atuação" [ngClass]="{ 'alert': tried && actionArea == '' }" [(ngModel)]="actionArea">
            <ion-select-option value="enfermeira"> Atenção Primaria a Saúde </ion-select-option>
            <ion-select-option value="estudante"> Hospitalar </ion-select-option>
            <ion-select-option value="outro"> Outro... </ion-select-option>
        </ion-select>
    </ion-row>
    <ion-row *ngIf="actionArea === 'outro'"> 
        <ion-input class="Input" placeholder="Digite sua área de atuação" [(ngModel)]="otherArea"> </ion-input> 
    </ion-row>
    <ion-row>
        <ion-label> Tem experiêncial profissional com violência doméstica contra criança? </ion-label>
        <ion-select class="Input" placeholder="Selecione..." [ngClass]="{ 'alert': tried && pastXp == '' }" [(ngModel)]="pastXp">
            <ion-select-option value="sim"> Sim </ion-select-option>
            <ion-select-option value="nao"> Não </ion-select-option>
            <ion-select-option value="nsa"> Não se aplica </ion-select-option>
        </ion-select>
    </ion-row>
    <ion-row>
        <ion-label> Tem experiência profissional com classificações de Enfermagem? </ion-label>
        <ion-select class="Input" placeholder="Selecione..." [ngClass]="{ 'alert': tried && pastXpClass == '' }" [(ngModel)]="pastXpClass">
            <ion-select-option value="CIPE"> Sim, CIPE </ion-select-option>
            <ion-select-option value="NANDA"> Sim, NANDA/ NIC/ NOC </ion-select-option>
            <ion-select-option value="nao"> Não </ion-select-option>
            <ion-select-option value="nsa"> Não se aplica </ion-select-option>
            <ion-select-option value="outro"> Outro </ion-select-option>
        </ion-select>
    </ion-row>
    <ion-row *ngIf="pastXpClass === 'outro'"> 
        <ion-input class="Input" placeholder="Digite sua experiência" [(ngModel)]="otherPastXpClass"> </ion-input> 
    </ion-row>
    <ion-row>
      <ion-input placeholder="Email" [ngClass]="{ 'alert': tried && email == '' }" [(ngModel)]="email" class="Input"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input placeholder="Senha" [ngClass]="{ 'alert': tried && password == '' }" [(ngModel)]="password" class="Input" type="password"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input placeholder="Confirmar senha" [ngClass]="{ 'alert': tried && confirmedPassword == '' }" [(ngModel)]="confirmedPassword" class="Input" type="password"></ion-input>
    </ion-row>
    <ion-row class="button">
        <ion-button expand="full" class="continueButton" (click)='CreateAccount();' > Continuar </ion-button>
    </ion-row>
  </ion-grid>



</ion-content>
