.backIcon{
    margin: 10px;
    font-size: 30px;
    color: #13ACA7;
}

.title, .button{
    display: flex; 
    justify-content: center;

    p {
        text-transform: uppercase;
        color: #13ACA7;
        font-weight: 500;
    }
}

.alert{
    border: 2px solid red; 
    color: red;
    --padding: 10px;
    --padding-start: 15px;
    width: 100%;
    height: 60px;
    margin: 10px;
}

ion-label{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
}

.continueButton{
    margin: 0px;
    margin-top: 40px;
    align-self: center;
}

/** inputs */
ion-input, ion-select, ion-datetime{
    border: 1px solid #20A8A4;
    --padding: 10px;
    --padding-start: 15px;
    width: 100%;
    height: 60px;
    margin: 10px;

}