.backIcon{
    margin: 10px;
    font-size: 30px;
    color: #13ACA7;
}

.title, .button{
    display: flex; 
    justify-content: center;

    p {
        text-transform: uppercase;
        color: #13ACA7;
        font-weight: 500;
    }
}

.Input{
    border: 1px solid #20A8A4;
    --padding: 10px;
    --padding-start: 15px;
    height: 60px;
    margin: 10px;
}

.continueButton{
    margin: 0px;
    margin-top: 40px;
    align-self: center;
}