.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.img-header{
   margin-top: 10px;
   height: 70px;
}

.home-grid{
   margin-top: 10px;

   ion-row{
     display: flex;
     justify-content: center;
     margin: 7px;
   }
}

.btnHomePage{
   height: 80px;
   font-size: 1.08rem;
}

.header-home{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.fake-icon{
  align-self: center;
  width: 2rem;
}

.menu-button{
  margin-left: 20px;

  &:active{
    transform: scale(1.2);
  }
}
