<ion-content>
  <ion-row class="header-home">
    <ion-img class="fake-icon menu-button" src="../../assets/imgs/menu.png" (click)="openMenu()"></ion-img>
    <ion-img class="img-header" src="../../assets/imgs/cipalogo.PNG"></ion-img>
    <ion-img class="fake-icon" src="../../assets/imgs/blank.png"></ion-img>
  </ion-row>
  <ion-grid class="home-grid">
    <ion-row>
      <ion-button class="btnHomePage" [routerLink]="'/definition'" [routerDirection]="'forward'" expand="full"> Definição </ion-button>
    </ion-row>
    <ion-row>
      <ion-button class="btnHomePage" (click)="navigateCategory('diagnosticos')" expand="full"> Consultar Diagnósticos </ion-button>
    </ion-row>
    <ion-row>
      <ion-button class="btnHomePage" (click)="navigateCategory('intervencoes')" expand="full"> Consultar Intervenções </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
