<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="img-header" src="../../assets/imgs/cipalogo.PNG"></ion-img>
  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <ion-button class="btnHomePage" (click)='goToDefinition()' expand="full"> Definição </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="btnHomePage" (click)='goToInterventions()' expand="full">Intervenções</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="btnHomePage" (click)='goToDiagnostics()' expand="full">Diagnósticos</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="btnHomePage" (click)='goToRefs()' expand="full">Referências</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
