<ion-content>
    <ion-grid class="refGrid">
      <ion-row>
         <ion-icon name="arrow-round-back" [routerLink]="'/home'" [routerDirection]="'back'"  class="backIcon"></ion-icon>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="title"> Referências </p>
        </ion-col>        
      </ion-row>
      <ion-row class="refBlock">
        <ion-col>
            <p> 
              Brasil. Lei n. 8.069, de 13 de julho de 1990. Dispõe
              o Estatuto da Criança e do Adolescente e dá outras 
              providências. Centro de Defesa dos Direitos da 
              Criança e do Adolescente. Rio de Janeiro; 2017.
           </p>
            <p>
              World report on violence and health. Geneva, World 
              Health Organization, 2002.
            </p>
        </ion-col>
          
      </ion-row>
      <ion-row class="lineLogo">
          <ion-img src="assets/imgs/cipe_violencia_logo.jpg" class="bottomLogo"></ion-img>
        </ion-row>      
    </ion-grid>
  </ion-content>
  