<ion-content>
    <ion-grid class="refGrid">
      <ion-row>
         <ion-icon name="arrow-round-back" [routerLink]="'/home'" [routerDirection]="'back'"  class="backIcon"></ion-icon>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="title"> Referências </p>
        </ion-col>        
      </ion-row>
      <ion-row class="refBlock">
        <ion-col>
            <p>
                Albuquerque LM. Construção de um subconjunto terminológico da CIPE® para crianças
                 e adolescentes vulneráveis à violência doméstica [tese]. São Paulo: Escola de 
                 Enfermagem, Universidade de São Paulo; 2014. Disponível em: <a href="http://www.teses.usp.br/teses/disponiveis/83/83131/tde-09012015-155552/pt-br.php"> Link </a>
            </p>
            <p>
                Brasil. Lei n. 8.069, de 13 de julho de 1990. Dispõe sobre o Estatuto da Criança 
                e do Adolescente e dá outras providências [Internet]. Brasília; 2017. 
                Disponível em: <a href="http://www2.senado.leg.br/bdsf/bitstream/handle/id/534718/eca_1ed.pdf"> Link </a>
            </p>
            <p>
                Sakata-So KN. Validação do subconjunto terminológico da Classificação Internacional 
                para a Prática de Enfermagem  - CIPE - para o enfrentamento da violência doméstica 
                infantil  [tese]. São Paulo: Escola de Enfermagem, Universidade de São Paulo; 2018. 
                Disponível em: <a href="http://www.teses.usp.br/teses/disponiveis/83/83131/tde-22112018-160433/pt-br.php"> Link </a>
            </p>
        </ion-col>
          
      </ion-row>
      <ion-row class="lineLogo">
          <ion-img src="assets/imgs/cipe_violencia_logo.jpg" class="bottomLogo"></ion-img>
        </ion-row>      
    </ion-grid>
  </ion-content>
  