<ion-content>
  <ion-grid class="defGrid">
    <ion-row>
       <ion-icon name="arrow-round-back" [routerLink]="'/home'" [routerDirection]="'back'"  class="backIcon"></ion-icon>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="title"> Definição </p>
      </ion-col>        
    </ion-row>
    <ion-row class="defBlock">
        <p> 
          Violência contra criança é o uso intencional 
          da força fisica ou do poder, real ou em ameaça que 
          resulte em danos reais ou potenciais para sua 
          saúde, sobrevivência, desenvolvimento ou dignidade, 
          deixando marcas fisicas e psicológicas. 
        </p>
        <p>
          Pode afetar sua autoestima, capacidade de solução 
          de conflitos, respeito e tolerância, conferindo 
          ao fenômeno um carácter cíclico.
        </p>

      <!-- TEXTO ANTERIOR -->
      <!-- <p> A violência doméstica contra criança é 
          caracterizada pelo uso intencional da força 
          física ou do poder e/ou cuidadores, ou seja, 
          dentro do âmbito familiar contra o grupo de criança
          que resulte ou tenha grande possibilidade de 
          resultar em lesão, morte, dano psicológico, mau 
          desenvolvimento ou privação. </p>
      <p>  A criança vítima de violência leva para a fase adulta
          da vida, marcas física e psicológicas significativas. 
          Tem afetada sua autoestima, capacidade de solução de 
          conflitos, respeito e tolerância, conferindo ao 
          fenômeno um caráter ciclico. </p> -->
    </ion-row>

    <!-- CONTEUDO ANTERIOR -->
    <!-- 
    <ion-row>
      <ion-col>
        <p class="title"> Tipos </p>
      </ion-col>        
    </ion-row>
    <ion-row class="defBlock">
        <p> <strong> Violência física:</strong> ato de violência intencional com impacto no corpo e na integridade 
          física que se traduz em marcas visíveis como lesões, ferimentos, fraturas, hematomas, 
          mutilações ou mesmo morte com finalidade de obter vantagem, aplicar castigos. </p>
        <p> <strong> Violência física: </strong> ato de violência intencional com impacto no corpo e na integridade física 
          que se traduz em marcas visíveis como lesões, ferimentos, fraturas, hematomas, mutilações 
          ou mesmo morte com finalidade de obter vantagem, aplicar castigos. </p>
        <p> <strong> Violência sexual: </strong>  submissão de crianças, com ou sem consentimento, a atos ou jogos sexuais, 
          com a finalidade de estimular-se ou satisfazer-se, impondo-se pela força, pela ameaça ou pela 
          sedução, com palavras ou com oferta financeira, favores ou presentes. </p>
        <p> <strong> Negligência: </strong> recusa ou omissão por parte dos pais e/ou responsáveis em prover 
          as necessidades físicas, de saúde, educacionais, higiênicas baseada na rejeição, no descaso, na 
          indiferença, no descompromisso, no desinteresse e na negação da existência da criança. </p>
      </ion-row> -->

    <ion-row class="lineLogo">
      <ion-img src="assets/imgs/cipe_violencia_logo.jpg" class="bottomLogo"></ion-img>

    </ion-row>     
  </ion-grid>
</ion-content>
