<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon name="arrow-round-back" [routerLink]="'/home'" [routerDirection]="'back'"  class="backIcon"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
            <h3> Casos e Atendimentos</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
        <ion-item-sliding *ngFor="let item of cases">
            <ion-item>
              <ion-card class="caseCard">
                 <ion-card-header>
                    <ion-card-title>  <ion-icon name="star-outline"></ion-icon> {{item.id}} </ion-card-title>
                 </ion-card-header>
                 <ion-card-content>
                  Criado em: {{ item.date }}
                 </ion-card-content>
              </ion-card>
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option style="background-color: gold;"> Editar </ion-item-option>
              <ion-item-option style="background-color: red;"> Excluir </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
    </ion-list>

     <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
