<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Atendimentos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-button class="create-case" (click)="createCase()" expand="full"> Criar novo atendimento </ion-button>
    </ion-row>
    <ion-card class="case-item" *ngFor="let case_id of cases_id">
      <ion-card-header>
        <ion-card-title>{{ cases[case_id].id }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="truncate" (click)="editCase(case_id)">
        <span class="case-notes">{{ cases[case_id].notes }}</span>
        <ion-row class="line-edit">
          <span class="case-created col-md-9">Criado em {{ cases[case_id].created }}</span>
          <ion-icon class="col-md-3" name="create"></ion-icon>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <section *ngIf="cases_id.length == 0" class="no-data">
      Não há atendimentos disponíveis ou não há conexão de Internet disponível para obter os dados.
    </section>
  </ion-grid>
</ion-content>

