.case-item{
    background: #87bcdc;

    // & > ion-card-content{
        
    // }
}

.case-created{
    margin-top: 12px;
    display: block;
}

.create-case{
    margin-top: 12px;
    margin-bottom: 12px;
}

.case-notes{
    color: #2d2d2d;
}

.line-edit{
    align-items: center;
    justify-content: space-between;

    ion-icon{
        width: 2rem;
        height: 1.4rem;
    }
}

.no-data{
    // text-align: center;
    margin-top: 1rem;
}