<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Atendimentos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row *ngFor="let case_id of cases_id" >
      {{ cases[case_id].id }}
      {{ cases[case_id].dob }}
      {{ cases[case_id].created }}
    </ion-row>
  </ion-grid>
        <!-- <ion-row *ngFor="let item of favoriteItems | search : terms">
          <mat-expansion-panel *ngIf="renderContent.type == item.type">
            <mat-expansion-panel-header collapsedHeight="80px" expandedHeight="30px">
              <mat-panel-title class="header-panel-favorite">
                  <ion-icon class="favorite-button" name="star-outline" (click)="addFavoriteCard($event, item.id)" *ngIf="!favorites.includes(item.id)"></ion-icon>
                  <ion-icon class="favorite-button" name="star" (click)="removeFavoriteCard($event, item.id)" *ngIf="favorites.includes(item.id)"></ion-icon>              <div class="truncate">
                  {{ item.text }}
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <section class="mat-panel-body">
              <ion-row>
                  <ion-icon class="favorite-button" name="star-outline" (click)="addFavoriteCard($event, item.id)" *ngIf="!favorites.includes(item.id)"></ion-icon>
                  <ion-icon class="favorite-button" name="star" (click)="removeFavoriteCard($event, item.id)" *ngIf="favorites.includes(item.id)"></ion-icon>            </ion-row>
              <span class="card-msg">{{ item.text }}</span>
            </section>
          </mat-expansion-panel>
        </ion-row> -->
  <ion-button (click)="createCase()" expand="full"> Criar atendimento </ion-button>
</ion-content>
