<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img class="img-header" src="../../assets/imgs/cipalogo.PNG"></ion-img>
     <ion-grid class="grid">
        <ion-row>
           <ion-col>
                <ion-button class="btnHomePage" color="primary" expand="block"> Definição </ion-button>
           </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-button class="btnHomePage" color="secondary" expand="block"> Como Usar o App </ion-button>
          </ion-col>
        </ion-row>        
        <ion-row>
            <ion-col>
                 <ion-button class="btnHomePage" color="tertiary" expand="block"> Iniciar o Uso </ion-button>
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-col>
                 <ion-button class="btnHomePage" color="success" expand="block"> Referências </ion-button>
            </ion-col>
         </ion-row>
     </ion-grid>
</ion-content>
